.header__lang-link {
  display: block;
  margin-left: 18px;
  color: inherit;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.167;
  font-weight: 400;
}

.header__lang-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.555;
  }
}
