.places {
  max-width: 76.875%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 878px) {
  .places {
    max-width: 93.75%;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 545px) {
  .places {
    max-width: 100%;
    margin-bottom: 66px;
  }
}
