.intro__outter {
  width: 76.875%;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1024px) {
  .intro__outter {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .intro__outter {
    width: 93.75%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro__outter {
    width: 90%;
    margin-bottom: 64px;
  }
}
