.lead {
  width: 76.875%;
  margin: 0 auto 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin-bottom: 64px;
  }
}
