.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  color: inherit;
  line-height: 1.042;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin-bottom: 16px;
    max-width: 90%;
    font-size: 40px;
    line-height: 1.1;
  }
}
