.cover {
  max-width: 92.5%;
  margin: 0 auto 92px;
  background: url('../../images/cover-bg.jpg') center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}
