.footer__nav {
  display: flex;
  align-items: center;
  margin-left: -18px;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    align-items: start;
    margin-bottom: 48px;
  }
}
