.lead__caption {
  align-self: start;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  color: inherit;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    width: 93.75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    width: 90%;
  }
}
