.cover__title {
  margin: 0 auto 32px;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.055;
  color: inherit;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    margin-bottom: 16px;
    max-width: 90%;
    font-size: 32px;
    line-height: 1.093;
  }
}
