.footer {
  max-width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90.625%;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 93.75%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 90%;
    flex-direction: column;
    align-items: start;
  }
}
