.photos {
  max-width: 92.5%;
  margin: 0 auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photos {
    max-width: 90.625%;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photos {
    max-width: 93.75%;
    margin-bottom: 88px;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photos {
    max-width: 90%;
    margin-bottom: 64px;
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
