.places__item {
  display: grid;
  grid-template-columns: 46.747% auto;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: 47.41% auto;
    gap: 32px
  }
}

@media screen and (max-width: 878px) {
  .places__item {
    grid-template-columns: 47.22% auto;
    gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 545px) {
  .places__item {
    grid-template-columns: 100%;
    gap: 32px;
    margin-bottom: 50px;
  }
}
