.intro__title {
  max-width: 690px;
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900;
  color: inherit;
  line-height: 1.074;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.093;
  }
}
